* {
    margin: 0%;
    padding: 0%;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.banner{
    background-image: url(images/donation13.jpg);
    background-position: center;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner-toppings{
    color: white;
    text-align: center;
    padding: 170px 30px 30px 30px;
    margin-bottom: 25px;
}
.heading-content{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 800;
}
.link-button{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.paragraph{
    padding: 10px 10px 10px 10px;
    font-weight: 200;
}
.donation{
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 20px;
}
.flexible-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: flex;
    padding-bottom: 5%;
}
#box-model{
    background-color: rgba(211, 211, 211, 0.445);
    width: 40px;
    height: 40px;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
}
#box-model-different{
    background-color: rgba(211, 211, 211, 0.445);
    color: tomato;
    width: 40px;
    height: 40px;
    border: 2px solid tomato;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
}
.money input{

    text-align: center;
   border: none;
   border-bottom: 1px solid gray;
    width: 100%;
  }

  .money input:focus{
    border: none !important;

    
  }

  #donation-plan1{

    background-color: rgba(211, 211, 211, 0.445);
    width: 180px;
    height: 180px;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
  }
  #donation-plan2{

    background-color: rgba(252, 164, 249, 0.405);
    width: 180px;
    height: 180px;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
  }
  #donation-plan3{

    background-color: rgba(186, 114, 141, 0.445);
    width: 180px;
    height: 180px;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
  }

  .icons{
    width: 50px;
    height: 50px;
    padding-right:  110px;
 }
 h2{
    padding-top: 5px;
    text-align: left;
    padding-left:5px ;
 }
 .donation-description{
    font-size: small;
    padding-top:5px ;
    margin-left: 5px;
    text-align: left;

 }
 .half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}

.flexible-container-final{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    height: 30px;
    width: 50%;
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 100px;
    padding-top: 50px ;
    padding-bottom: 50px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;



}
#email{

    background-color: rgba(211, 211, 211, 0.445);
    height: 100%;
    border-radius: 5px;
    display: inline-block;
    color: rgb(99, 92, 92); 
    height: 30px;
    border: none;


}
#subscription{
    background-color: rgba(233, 8, 8, 0.445);
    height: 100%;
    display: inline-block;
    border-radius: 5px;
    color: rgb(99, 92, 92);
    border: none;

}
.footer{
    padding-top: 35px;
    width: 100%;
    height: 200px;
    background-color: black; 
    text-align: center;
    color: tomato
  }
  .last{
    color: antiquewhite;
  }
  .flex{

    
  }