* {
    margin: 0%;
    padding: 0%;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.banner{
    background-image: url(images/donation13.jpg);
    background-position: center;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner-toppings{
    color: white;
    text-align: center;
    padding: 170px 30px 30px 30px;
    margin-bottom: 25px;
}
.heading-content{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 800;
}
.link-button{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.paragraph{
    padding-top: 10px;
    font-weight: 200;
}
.donation{
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
.flexible-container{
    align-self:center ;
    margin-top: 20px;
    display: flex;
    padding-bottom: 5%;

}
#box-model{
    background-color: rgba(211, 211, 211, 0.445);
    width: 40px;
    height: 40px;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
}
#box-model-different{
    background-color: rgba(211, 211, 211, 0.445);
    color: tomato;
    width: 40px;
    height: 40px;
    border: 2px solid tomato;
    padding: 30px 50px 30px 30px;
    margin: 20px;
    border-radius: 5px;
    color: rgb(99, 92, 92);
}
.money {
    width: 85%;
    padding: 0px 20px 30px 20px;
    margin: 8px ;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid rgba(125, 125, 125, 0.659);
    text-align: center;
    color: gray;
    margin-bottom: 40px;
  }





